h1{
    font-size: 2rem;
    margin: 0;
}

p{
    font-size: 1.25rem;
}

.fade_in {
    animation: fadeIn 1.25s ease-out;
}

.fade {
    opacity: 0;
    animation: fadeOut 0.55s ease-in;
}

.fade2 {
    opacity: 0;
    animation: fadeOut 1.95s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        scale: 1.25;
    }
    50% {
        opacity: 0.5;
    }
    97% {
        scale: 0.98;
    }
    99% {
        scale: 0.99;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    55% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
        scale: 2;
    }
}

.center {
    height: 50vh;
    animation: fadeIn 1.25s ease-in-out;
    justify-content: center;
    align-items: center;
    min-height: max-content;
}

.options {
    display: none;
    margin-bottom: 20px;
}

.input-container {
    display: none;
}
